<nav class="navbar">
    <a href="/" class="logo"><img src="/img/blogWeb_logo_trp.png"></a>
    <div class="nav-links">
        <a href="/" class="nav-link">Home</a>
        <a href="/viewBlog" class="nav-link">Blogs</a>
        <a href="/createBlog" class="nav-link">Create Blog</a>
        <a href="/aboutUs" class="nav-link">About Us</a>
    </div>
</nav>
