<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" type="image/png" href="/img/blogWeb_logo_trp.png">
</head>
<body>
    <%- include('./partials/nav') %> 

    <div class="container">
        <section id="about-us">
            <h1>About Us</h1>
            <p>Welcome to our blogging platform! Our mission is to provide a space where writers can share their thoughts, ideas, and stories with the world.</p>
            <p>Our platform allows you to create, view, and engage with a variety of blog posts across different topics.</p>
            <p>We believe in the power of storytelling and the importance of sharing knowledge. Join us on this journey and start blogging today!</p>
        </section>
    </div>
</body>
</html>


